<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ExampleCRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/main">Профиль</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Клиенты
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/clients_list">Список клиентов</a></li>
              <li sec:authorize="hasAuthority('MANAGER')"><a class="dropdown-item" href="/clients_all_list">Список всех клиентов</a></li>
              <li><a class="dropdown-item" href="/add_client">Добавить клиента</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Сделки
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/deals_list">Список заявок</a></li>
              <li sec:authorize="hasAuthority('MANAGER')"><a class="dropdown-item" href="/deals_all_list">Список всех заявок</a></li>
              <li><a class="dropdown-item" href="/add_deal">Завести заявку</a></li>
              <li><a class="dropdown-item" href="/send_email">Отправить e-mail</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Товары
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/products_list">Список товаров</a></li>
              <li sec:authorize="hasAuthority('MANAGER')"><a class="dropdown-item" href="/add_product">Добавить товар</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" sec:authorize="hasAuthority('MANAGER')">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Отчеты
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/report_deals">Воронка продаж</a></li>
              <li><a class="dropdown-item" href="/report_users">Работа сотрудников</a></li>
              <li><a class="dropdown-item" href="/report_products">Проданные товары</a></li>
              <li><a class="dropdown-item" href="/report_week">Недельный отчет</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Панель администратора
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/users_list">Список пользователей</a></li>
              <li><a class="dropdown-item" href="/add_user">Добавить пользователя</a></li>
              <li><a class="dropdown-item" href="/support_list">Обращения пользователей</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Поддержка
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/support_send">Сообщить о проблеме</a></li>
              <li><a class="dropdown-item" href="/message_list">Мои обращения</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <form th:action="@{/logout}" method="post">
              <a href="/login" class="nav-link mx-2" onclick="this.parentNode.submit()">Выход</a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">

  <div id="container"
       style="width: 550px; height: 400px; margin: 0 auto"></div>
</div>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
  $(function(){
    Highcharts.chart('container', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Информация о работе отдела'
      },
      subtitle: {
        text: 'Закрытие сделки сотрудников'
      },
      xAxis: {
        categories: [[${keySet}]],
        crosshair: true
      },
      yAxis: {
        min: 0,
        max:1000,
        title: {
          text: 'Количество'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: 'Сотрудник',
        data: [[${values}]]
      }]
    });
  });
</script>
</body>
</html>